# Environment Configuration
APP_PROFILE=dev

# Telegram Bot
TELEGRAM_BOT_TOKEN=
ADMIN_CHAT_ID=

# Google / YouTube OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:8080/oauth/callback

# Web App
WEBAPP_URL=http://localhost:5173

# Server Config
LOCAL_PORT=8080

# Logging
LOG_BUCKET=
LOG_FILE=src/logs/app.log
